@using EuroCarsUSA.Data.Enums
@using EuroCarsUSA.Resources
@using EuroCarsUSA.ViewModels
@using EuroCarsUSA.Views.Shared.Components
@using Microsoft.AspNetCore.Components
@model IEnumerable<CatalogEditionViewModel>
@inject Localizer localizer

<form method="post" asp-action="SaveCatalogChanges" class="container bg-neutral-200 py-5">
    <input type="hidden" id="deletedCarsIds" name="deletedCarsIds" value="" />

    <div class="row mx-0 mb-2 px-3 d-flex align-items-stretch justify-content-end">
        <div class="col px-0">
            <a asp-controller="Home" asp-action="BackToCatalogWithFilters">
                @await Html.PartialAsync("_Button", new _Button
                {
                    Text = localizer.Back,
                    Color = "primary",
                    Classes = "me-2",
                    Attributes = "",
                    LeftIcon = await Html.PartialAsync("_Icon", new { IconName = Url.Content("Arrow back"), Color = "white" }),
                    RightIcon = null,
                    TextColor = ""
                })
            </a>
        </div>
        <div class="col px-0 flex-grow-1 justify-content-end d-flex align-content-center align-items-center ">
            <div class="position-absolute">
                <div class="">
                    <a class="icon-button" onclick="toggleCataogEditionButtonsPopup()">
                        @await Html.PartialAsync("_IconButton", new { IconName = "More horiz", Color = "secondary", IconColor = "primary", Attributes = "type=\"button\"" })
                    </a>
                </div>
                <div id="popup-buttons" class="d-none position-absolute end-0 bg-white border border-1 border-primary my-shadow-3 rounded-16 p-2 px-3" style="z-index: 1500">
                    @await Html.PartialAsync("_Button", new _Button
                    {
                        Text = localizer.Add,
                        Color = "secondary",
                        Classes = "me-3",
                        Attributes = "type=\"button\" onclick=\"addNewRow()\"",
                        LeftIcon = await Html.PartialAsync("_Icon", new { IconName = Url.Content("Add"), Color = "primary" }),
                        RightIcon = null,
                        TextColor = ""
                    })
                    @await Html.PartialAsync("_Button", new _Button
                    {
                        Text = localizer.Save,
                        Color = "primary",
                        Classes = "",
                        Attributes = "type=\"submit\"",
                        LeftIcon = null,
                        RightIcon = null,
                        TextColor = ""
                    })
                </div>
            </div>
        </div>
    </div>

    <div class="bg-secondary p-3 p-3 rounded-16">
        <div id="catalog" class="row gy-2">
            @for (int i = 0; i < Model.Count(); i++)
            {
                var car = Model.ElementAt(i);
                @await Html.PartialAsync("_EditCar", new Tuple<CatalogEditionViewModel, int>(car, i))
            }
        </div>
    </div>
</form>

@section Scripts {
    <script>
        function toggleCataogEditionButtonsPopup() {
            console.log("aala");
            const popup = document.getElementById('popup-buttons');
            if (popup.classList.contains("d-none")) {
                popup.classList.remove("d-none");
                popup.classList.add("d-flex");
            }
            else {
                popup.classList.remove("d-flex");
                popup.classList.add("d-none");
            }
        }
    </script>
    <script>
        function deleteCar(carId, uniqueId) {
            var deletedCarsIdsInput = document.getElementById('deletedCarsIds');
            var deletedCarsIds = deletedCarsIdsInput.value ? JSON.parse(deletedCarsIdsInput.value) : [];
            if(carId != '')
            {
                deletedCarsIds.push(carId);
            }

            deletedCarsIdsInput.value = JSON.stringify(deletedCarsIds);

            var carRow = document.getElementById('car-row-' + uniqueId);
            carRow.parentElement.removeChild(carRow);
        }
        function addNewRow() {
            var tableBody = document.getElementById('catalog');
            var index = tableBody.children.length / 2;

            $.ajax({
                url: '/Admin/GetNewCatalogRow',
                data: { index: index },
                type: 'GET',
                success: function (html) {
                    tableBody.insertAdjacentHTML('beforeend', html);
                },
                error: function () {
                    alert('An error occurred while adding a row');
                }
            });
        }
        document.addEventListener("click", function (event) {
            const openPopups = document.querySelectorAll(".popup-000:not(.d-none)");

            openPopups.forEach((popup) => {
                if (!popup.contains(event.target) && !event.target.closest(".popup-ooo")) {
                    popup.classList.add("d-none");
                }
            });
        });
    </script>
}

