@using EuroCarsUSA.Data.Enum
@using EuroCarsUSA.ViewModels
@using EuroCarsUSA.Views.Shared.Components
@using Microsoft.AspNetCore.Components
@model IEnumerable<CatalogEditionViewModel>

<h1>Catalog Edition</h1>

<form method="post" asp-action="SaveCatalogChanges">
    <input type="hidden" id="deletedCarsIds" name="deletedCarsIds" value="" />

    <div class="bg-neutral-500 p-3">
        @for (int i = 0; i < Model.Count(); i++)
        {
            var car = Model.ElementAt(i);
            var uniqueId = $"car-{i}";
            @Html.Partial("_EditCar", new { I = i, Car = car, UniqueId = uniqueId })
        }
        <button type="submit">Save Changes</button>
    </div>

    
</form>

@section Scripts {
    <script>
        function showModal(uniqueId) {
            document.getElementById('imageEditorModal-' + uniqueId).style.display = 'block';
            document.getElementById('modalBackdrop-' + uniqueId).style.display = 'block';
        }

        function hideModal(uniqueId) {
            document.getElementById('imageEditorModal-' + uniqueId).style.display = 'none';
            document.getElementById('modalBackdrop-' + uniqueId).style.display = 'none';
        }

        function addImage(uniqueId) {
            var newImageUrl = document.getElementById('newImageUrl-' + uniqueId).value;
            if (newImageUrl) {
                var listGroup = document.querySelector('#imageEditorModal-' + uniqueId + ' .list-group');
                var newItem = document.createElement('li');
                newItem.className = 'list-group-item';
                newItem.innerHTML = '<img src="' + newImageUrl + '" alt="Image" class="img-thumbnail" style="width: 100px; height: 100px;" />' +
                                    '<button type="button" class="btn btn-danger btn-sm" onclick="removeImage(this)">Remove</button>';
                listGroup.appendChild(newItem);
                document.getElementById('newImageUrl-' + uniqueId).value = '';
            }
        }

        function removeImage(button) {
            var listItem = button.parentElement;
            listItem.parentElement.removeChild(listItem);
        }

        function saveChanges(uniqueId) {
            var images = [];
            var listItems = document.querySelectorAll('#imageEditorModal-' + uniqueId + ' .list-group-item img');
            listItems.forEach(function(img) {
                images.push(img.src);
            });
            document.getElementById('ImagesJson-' + uniqueId).value = JSON.stringify(images);
            hideModal(uniqueId);
        }

        function deleteCar(carId, uniqueId) {
            var deletedCarsIdsInput = document.getElementById('deletedCarsIds');
            var deletedCarsIds = deletedCarsIdsInput.value ? JSON.parse(deletedCarsIdsInput.value) : [];
            deletedCarsIds.push(carId);

            deletedCarsIdsInput.value = JSON.stringify(deletedCarsIds);

            var carRow = document.getElementById('car-row-' + uniqueId);
            carRow.parentElement.removeChild(carRow);
        }
    </script>
}