@model dynamic

@{
    string attributes = Model.Attributes;
    string classes = Model.Classes;

    string color = Model.Color ?? "";
    string text = Model.Text ?? false;

    var leftIcon = Model.LeftIcon;
    var rightIcon = Model.RightIcon;

    string customTextColor = Model.TextColor ?? "";


    bool hasLeftIcon = false;
    bool hasRightIcon = false;
    @if (leftIcon != null)
    {
        hasLeftIcon = true;
    }
    @if (rightIcon != null)
    {
        hasRightIcon = true;
    }

    string backgroundColorValue = color == "primary" ? "bg-primary" : "bg-secondary";
    string textColorValue = customTextColor ?? (color == "primary" ? "text-white" : "text-primary");
    //string iconColorValue = customIconColor ?? (color == "primary" ? "white" : "primary");
}

<button class="@Html.Raw($"text-title-sm  btn-custom {classes} {backgroundColorValue} {textColorValue} {(hasLeftIcon ? "ps-3" : "ps-4")} {(hasRightIcon ? "ps-3" : "ps-4")}")" @Html.Raw(attributes)>

    @if (hasLeftIcon)
    {
        @leftIcon
    }

    <span>@(text)</span>

    @if (hasRightIcon)
    {
        @rightIcon
    }
</button>
