@model EuroCarsUSA.Views.Shared.Components._Checkbox

@{
    string classes = Model.Classes ?? "";
    string attributes = Model.Attributes ?? "";
    string text = Model.Text ?? "";
    string ifNoTextClass = string.IsNullOrEmpty(text) ? "d-none" : "";
}

<label class="@Html.Raw($"checkbox-container ripple- d-flex {classes}")">
    <input type="checkbox" class="myCheckBox" @Html.Raw(attributes)>
    <div class="checkbox-wrapper ripple-effect-primary">
        <span class="checkbox-custom">
            <svg class="checkbox-icon" width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 9.4L0 5.4L1.4 4L4 6.6L10.6 0L12 1.4L4 9.4Z" fill="white" />
            </svg>
        </span>
    </div>
    <span class="checkbox-label @Html.Raw(ifNoTextClass)">@text</span>
</label>
