@using System.Net.Http
@using EuroCarsUSA.Views.Shared.Components
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop

@model EditableField

@if (Model.IsVisible)
{
    var inputType = Model.Value?.GetType().Name switch
    {
        "Int32" => "number",
        "String" => "text",
        "Guid" => "text",
        _ => "text"
    };
    <div class="@Model.CssClass">
        @await Html.PartialAsync("_LineEdit", new _LineEdit
        {
            Attributes = $"value=\"{@Model.Value?.ToString()}\" name=\"{@Model.Name}\" type=\"{@inputType}\" id=\"{@Model.Id}\"",
            Placeholder = Model.Placeholder,
            ShowOverline = true,
            ShowOverlineInside = true,
            Overline = Model.Overline,
            ShowAdditional = false,
            Additional = "zł",
            ShowSupportive = false,
        })
    </div>
}
else
{
    <input type="hidden" name="@Model.Name" value="@Model.Value?.ToString()" />
}