@model dynamic

@{
    string attributes = Model.Attributes;

    string color = Model.Color ?? "primary";
    string iconSrc = Model.IconName;

    string customIconColor = Model.IconColor ?? "primary";

    string backgroundColorValue = color == "primary" ? "bg-primary" : "bg-secondary";
}

<button @Html.Raw(attributes) class="icon-btn-custom p-0">
    <div class="rounded-pill ripple-effect-primary overflow-hidden @backgroundColorValue">
        <div class="p-2 @backgroundColorValue">
            @Html.Partial("_Icon", new { IconName = iconSrc, Color = customIconColor })
        </div>
    </div>
</button>
