@using EuroCarsUSA.Data.Enums
@using EuroCarsUSA.Resources
@using EuroCarsUSA.ViewModels
@using EuroCarsUSA.Views.Shared.Components
@using Microsoft.AspNetCore.Components

<div class="container d-flex justify-content-center">
    <div class="mt-5">
        <div class="text-headline-lg text-neutral-900">Thanks for sending the form!</div>

        <div style="width: 540px;" class="border border-1 border-primaryqw rounded-3 p-4 pt-3">
            <div class="d-flex align-items-end justify-content-center mb-5">
                <img src="~/icons/logo2.svg" style="width: 240px; height: 100px" alt="EuroCarsUSA" class="col-auto" />
            </div>

            <p class="text-body-lg">
                Your track number is :<br/>
                <span class="text-primary text-title-sm" id="trackNumber">@ViewBag.FormId</span>
            </p>

            <div class="d-flex justify-content-end">
                <a class="me-2">
                @await Html.PartialAsync("_Button", new _Button
                    {
                        Text = "Copy",
                        Color = "secondary",
                        Classes = "",
                        Attributes = $"onclick=\"copyText()\"",
                        RightIcon = await Html.PartialAsync("_Icon", new { IconName = Url.Content("Note stack add"), Color = "primary" }),
                        Type = "button",
                    })
                </a>
                <a class="me-2" href=@Html.Raw("../Order/" + @ViewBag.FormId.ToString())>
                @await Html.PartialAsync("_Button", new _Button
                    {
                        Text = "Go to order's track",
                        Color = "primary",
                        Classes = "",
                        Attributes = "",
                        RightIcon = await Html.PartialAsync("_Icon", new { IconName = Url.Content("Arrow Forward"), Color = "white" }),
                        Type = "button",
                    })
                </a>
                
            </div>
        </div>
    </div>
</div>

<script>
    function copyText() {
        var copyText = document.getElementById("trackNumber");

        var tempInput = document.createElement("input");
        document.body.appendChild(tempInput);
        tempInput.value = copyText.textContent;
        tempInput.select();
        document.execCommand("copy");

        document.body.removeChild(tempInput);

        alert("Текст скопирован: " + tempInput.value);
    }
</script>
