@using EuroCarsUSA.Views.Shared.Components

<div class="container d-flex justify-content-center">
    <div class="mt-5">
        <div class="text-headline-lg text-neutral-900">Thanks for sending the form!</div>

        <div style="width: 540px;" class="border border-1 border-primaryqw rounded-3 p-4 pt-3">
            <div class="d-flex align-items-end justify-content-center mb-5">
                <img src="~/icons/logo2.svg" style="width: 240px; height: 100px" alt="EuroCarsUSA" class="col-auto" />
            </div>

            <div class="position-relative">
                <p class="text-body-lg">Your track number is :<br/> 
                <span class="text-primary text-title-sm" id="trackNumber">@ViewBag.FormId</span>
                </p>
            
                <a class="position-absolute end-0 top-0">
                @await Html.PartialAsync("_Button", new _Button
                {
                    Text = "Copy",
                    Color = "primary",
                    Classes = "",
                    Attributes = $"onclick=\"copyText()\"",
                    RightIcon = await Html.PartialAsync("_Icon", new { IconName = Url.Content("Note stack add"), Color = "white" }),
                    Type = "button",
                })
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    function copyText() {
        var copyText = document.getElementById("trackNumber");

        var tempInput = document.createElement("input");
        document.body.appendChild(tempInput);
        tempInput.value = copyText.textContent;
        tempInput.select();
        document.execCommand("copy");

        document.body.removeChild(tempInput);

        alert("Текст скопирован: " + tempInput.value);
    }
</script>
