html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

select {
    background-color: var(--bs-light);
    color: var(--bs-primary);
}

.fas.fa-phone {
    font-size: 0.75em; /* Adjust as needed */
    position: relative;
    bottom: 1px;
    right: 5px;
}

#filters {
    width: fit-content;
}


.center-items {
    display: grid;
    place-items: center;
}

.btn-secondary{
    border: 1px solid var(--bs-primary);
}
.border-bottom-only {
    border: none;
    border-bottom: 1px solid;
    background-color: var(--bs-secondary);
}

.border-bottom-only:focus {
    outline: none;
}
    /* Change placeholder color */
    .border-bottom-only::placeholder { /* Most modern browsers */
        color: var(--bs-primary);
    }

    .border-bottom-only::-webkit-input-placeholder { /* WebKit browsers */
        color: var(--bs-primary);
    }

    .border-bottom-only::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: var(--bs-primary);
        opacity: 1; /* Firefox has reduced opacity on placeholders by default */
    }

    .border-bottom-only:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: var(--bs-primary);
    }

    .border-bottom-only:-moz-placeholder { /* Mozilla Firefox 4-18 */
        color: var(--bs-primary);
        opacity: 1; /* Firefox has reduced opacity on placeholders by default */
    }

.rounded-xxl{
    border-radius: .80rem;
}

img.rounded-xxl {
    border-radius: .400rem;
}

.img-container {
    position: relative;
    
    padding-bottom: 56.25%; /* 9 / 16 * 100 = 56.25% */
    overflow: hidden;
}

    .img-container img {
        position: absolute;
        top: 0;
        left: 0;
        
        height: 100%;
        object-fit: cover;
    }


.card:hover {
    border: 1px solid var(--bs-primary);
    box-shadow: 0 0 10px var(--bs-primary);
    transform: scale(1.05);
}

.w-15 {
    width: 15% !important
}

.slick-slide {
    width: auto !important;
}

    .slick-slide img {
        height: 20vh; /* 20% of the viewport height */
        object-fit: cover;
    }

.slider-container {
    height: 20vh; /* 25% of the viewport height */
}

#imageMain img {
    height: 50vh; /* Adjust this value to your needs */
    width: 100%;
    object-fit: cover;
}



div.carPhotoThumbnailSelected {
    border: 3px solid var(--bs-primary);
    box-sizing: border-box;
}

.btn-arrow{
    flex: 1;
}

.carIcon {
    height: 1em;
    width: 1em;
    vertical-align: middle;
}