html {
    font-size: 14px;
}

label{
    color: black;
)
}

@media (min-width: 576px) {
    html {
        font-size: 16px;
    }
}


.fh-regular {
    font-size: 14px;
    font-family: "Roboto"
}
.fh-header {
    font-size: 24px;
    font-family: "Roboto"
}

.fh-header-bold {
    font-size: 24px;
    font-family: "Roboto";
    font-weight: 700;
}

.fh-filter-text {
    font-size: 16px;
    font-family: "Roboto"
}

.fh-title-subhead {
    font-size: 20px;
    font-family: "Roboto"
}

.fh-button-text {
    font-size: 14px;
    font-family: "Roboto"
}

.fh-card-title {
    font-size: 16px;
    font-family: "Roboto"
}

.fh-card-header {
    font-size: 16px;
    font-family: "Roboto"
}

.fh-card-subhead {
    font-size: 14px;
    font-family: "Roboto"
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 160px;
}

select {
    background-color: var(--bs-light);
    color: var(--bs-primary);
}

#filters {
    width: fit-content;
}



.center-items {
    display: grid;
    place-items: center;
}

.btn-secondary{
    border: 1px solid var(--bs-primary);
}
.border-bottom-only {
    border: none;
    border-bottom: 1px solid;
    background-color: var(--bs-secondary);
}

.border-bottom-only:focus {
    outline: none;
}
    /* Change placeholder color */
    .border-bottom-only::placeholder { /* Most modern browsers */
        color: var(--bs-primary);
    }

    .border-bottom-only::-webkit-input-placeholder { /* WebKit browsers */
        color: var(--bs-primary);
    }

    .border-bottom-only::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: var(--bs-primary);
        opacity: 1; /* Firefox has reduced opacity on placeholders by default */
    }

    .border-bottom-only:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: var(--bs-primary);
    }

    .border-bottom-only:-moz-placeholder { /* Mozilla Firefox 4-18 */
        color: var(--bs-primary);
        opacity: 1; /* Firefox has reduced opacity on placeholders by default */
    }



.rounded-xxl{
    border-radius: 5%;
}

img.rounded-xxl {
    border-radius: 4%;
}


.rounded-32 {
    border-radius: 32px !important;
}

.rounded-16 {
    border-radius: 16px !important;
}

.rounded-top-0 {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.rounded-bottom-0 {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}


.img-container {
    position: relative;
    padding-bottom: 75%; /* 3 / 4 * 100 = 75.00% */
    overflow: hidden;
}
    .img-container.smallCont {
        padding-bottom: 56.25%; /* 9 / 16 * 100 = 56.25% */
    }

    .img-container img {
        position: absolute;
        top: 0;
        left: 0;
        
        height: 100%;
        object-fit: cover;
    }


.card:hover {
    border: 1px solid var(--bs-primary);
    box-shadow: 0 0 10px var(--bs-primary);
    transform: scale(1.05);
}

.dropdown-toggle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.w-15 {
    width: 15% !important
}

.slick-slide {
    width: auto !important;
}

    .slick-slide img {
        height: 8vh;
        object-fit: cover;
    }

@media (min-width: 768px) {
    .slick-slide img {
        height: 12vh;
    }
}

#imageMain img {
    height: 240px; /* Adjust this value to your needs */
    width: 100%;
    object-fit: cover;
}

@media (min-width: 768px) {
    #imageMain img {
        height: 440px;
    }
}


.btn-arrow{
    flex: 1;
}

.carIcon {
    height: 1em;
    width: 1em;
    vertical-align: middle;
}

.galleryIcon {
    height: 5em;
    width: 5em;
    vertical-align: middle;
    z-index: 1000;
    transition: transform 0.1s ease-in-out;
}

    .galleryIcon:hover {
        transform: scale(1.2);
    }


.filterIcon {
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
}

/* =============================
   Gallery Container
   ============================== */
.gallery-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 100%;
    margin: auto;
}

/* =============================
   Selected Image Styling
   ============================== */
.selected-image {
    text-align: center;
    position: relative;
}

.selected-image .image-wrapper {
    position: relative;
    width: 100%; /* Takes the full width of the parent container */
    padding-bottom: 56.25%; /* 9:16 aspect ratio (56.25% height relative to width) */
    overflow: hidden; /* Hides parts of image that overflow */
}

.selected-image .image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Makes the image take full width of the container */
    height: 100%; /* Makes the image take full height of the container */
    object-fit: cover; /* Maintains center and crops the image if necessary */
}

/* =============================
   Arrow Navigation Buttons
   ============================== */
.arrow-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    border: none;
    border-radius: 50%; /* Circular shape */
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.2s; /* Smooth transition for hover effect */
}

.arrow-button:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Darker background on hover */
}

.left-arrow {
    left: 10px; /* Position left arrow on the left side */
}

.right-arrow {
    right: 10px; /* Position right arrow on the right side */
}

/* =============================
   Thumbnail Gallery Styling
   ============================== */
.thumbnail-gallery {
    display: flex;
    gap: 0.25rem;
    overflow-x: auto; /* Allows horizontal scrolling */
    scrollbar-width: thin; /* Custom scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for IE 10+ */
}


.thumbnail-gallery::-webkit-scrollbar {
    height: 8px; /* Define height for custom scrollbar */
}

.thumbnail-gallery::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3); /* Dark thumb for the scrollbar */
    border-radius: 4px;
}

/* =============================
   Thumbnail Image Links Styling
   ============================== */
.thumbnail-link {
    flex-shrink: 0; /* Prevent thumbnails from shrinking */
    border: 4px solid transparent; /* No border by default */
    border-radius: 4px;
    cursor: pointer;
    transition: border-color 0.3s ease; /* Smooth transition for border color */
}

.thumbnail-link.selected {
    border-color: var(--bs-primary); /* Blue border when thumbnail is selected */
}
    .thumbnail-link.selected .thumbnail-image {
        border-radius: 0px;
    }

.thumbnail-image {
    height: 70px; /* Set fixed height for thumbnails */
    object-fit: cover; /* Maintain aspect ratio while cropping */
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}


@media only screen and (max-width: 576px) {
    html {
        font-size: 16px;
        /*font-size: calc(1em + 1vw);*/
    }
}



@media (max-width: 767px) {
    .filters-desktop {
        display: none !important;
    }
    #filters-mobile-list {
        box-sizing: border-box;

        position: fixed;
        top: 0;
        right: -100%; /* Start off the screen (to the right) */
        width: 100%; 
        height: 100%; /* Use 100% of the screen height */
        overflow: auto; /* Add scroll if content is larger than screen */
        transition: right 0.3s ease-in-out; /* Animate the right property */
        z-index: 1; /* Make sure it appears on top of other content */
        background-color: #fff; /* Add a background color */
    }

        /* When the filters panel has the 'open' class, slide it in */
        #filters-mobile-list.open {
            right: 0;
            z-index: 1500;
        }
    #sort-mobile-list {
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: -100%; 
        width: 100%;
        height: 100%; 
        overflow: auto;
        transition: left 0.3s ease-in-out; 
        z-index: 1; 
        background-color: #fff; 
    }
        #sort-mobile-list.open {
            left: 0;
            z-index: 1500;
        }
}

@media (min-width: 768px) {
    .filters-mobile {
        display: none !important;
    }
    
}

.row-mobile-filter{
}

.border-secondary-500 {
    border-color: var(--bs-secondary) !important
}


.text-ellipsis {
    margin-bottom: 0px;
    white-space: nowrap;      /* Prevents the text from wrapping onto the next line */
    overflow: hidden;         /* Hides the text that overflows the container */
    text-overflow: ellipsis;  /* Adds the ... at the end when the text overflows */
    font-size: 15px;
}

.mobile-filter-select-screen {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: var(--bs-secondary);
    transition: right 0.3s ease-in-out;
    overflow-y: auto;
    z-index: 2;
}
    .mobile-filter-select-screen.open {
        right: 0;
    }


.mobile-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

    .mobile-list-item label {
        margin-right: 10px;
    }
button#mobile-filter-select-save-button .carIcon {
    fill: white;
}
/textarea{
    resize: none;
}


.offcanvas-body a {
    text-decoration: none;
    color: inherit;
}



/* to rename classes */
@media (max-width: 767px) {
    .row.mb-md-3 > .col-md-6:nth-child(odd) {
        background-color: var(--bs-secondary);
    }
}

.sticky-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background-color: #333; /* Öâåò ôîíà ïðÿìîóãîëüíèêà */
    color: #fff; /* Öâåò òåêñòà â ïðÿìîóãîëüíèêå */
    padding: 0px; /* Îòñòóïû âíóòðè ïðÿìîóãîëüíèêà */
}

.bg-byzantine {
    background-color: #bd33a4
}
.text-antique {
    color: #FAEBD7
}
.text-byzantine {
    color: #bd33a4 !important
}

.br-0 {
    border-radius: 0
}

.br-1 {
    border-radius: .25rem
}
.br-2 {
    border-radius: 8px
}

.br-3 {
    border-radius: 1rem
}
.br-4 {
    border-radius: 1.5rem
}

.br-5 {
    border-radius: 3rem
}

.text-primary {
    color: var(--bs-primary);
}

.text-secondary {
    color: var(--bs-secondary)
}

.text-subhead {
    color: var(--bs-subhead);
    color: #49454F
}


.dropdown-toggle {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    color: var(--bs-primary);

}
    .dropdown-toggle:hover {
        background-color: #f8f9fa;
        border: 1px solid #ced4da;
        color: var(--bs-primary);
    }
.dropdown-item input[type='checkbox'] {
    width: 14px;
    height: 14px;
}

.dropdown-item {
    font-size: 16px;
}

#languageDropdown.dropdown-toggle {
    color: var(--bs-primary);
    background-color: var(--bs-secondary);
    border: 1px solid var(--bs-primary);
}

#languageDropdown::after {
    display: none;
}

.btn-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    padding: 0;
}


.bg-primary-50 {
    background-color: #F3F5FD
}
.bg-primary-100 {
    background-color: #D9E0F9
}
.bg-primary-200 {
    background-color: #C6D1F6
}
.bg-primary-300 {
    background-color: #ADBCF2
}
.bg-primary-400 {
    background-color: #9DAFF0
}
.bg-primary-500 {
    background-color: #849BEC
}
.bg-primary-600 {
    background-color: #788DD7
}
.bg-primary-700 {
    background-color: #5E6EA8
}
.bg-primary-800 {
    background-color: #495582
}
.bg-primary-900 {
    background-color: #374163
}



.bg-secondary-50 {
    background-color: #FBFDFF
}

.bg-secondary-100 {
    background-color: #F3F9FE
}

.bg-secondary-200 {
    background-color: #EEF7FE
}

.bg-secondary-300 {
    background-color: #E6F3FD
}

.bg-secondary-400 {
    background-color: #E1F1FD
}

.bg-secondary-500 {
    background-color: #D9EDFC
}

.bg-secondary-600 {
    background-color: #C5D8E5
}

.bg-secondary-700 {
    background-color: #9AA8B3
}

.bg-secondary-800 {
    background-color: #77828B
}

.bg-secondary-900 {
    background-color: #5B646A
}


.bg-neutral-50 {
    background-color: #FDFDFE
}

.bg-neutral-100 {
    background-color: #F9FAFD
}

.bg-neutral-200 {
    background-color: #F7F8FC
}

.bg-neutral-300 {
    background-color: #F3F4FA
}

.bg-neutral-400 {
    background-color: #F1F2F9
}

.bg-neutral-500 {
    background-color: #EDEFF8
}

.bg-neutral-600 {
    background-color: #D8D9E2
}

.bg-neutral-700 {
    background-color: #A8AAB0
}

.bg-neutral-800 {
    background-color: #828388
}

.bg-neutral-900 {
    background-color: #646468
}

.bg-md-transparent {
    background-color: transparent
}
@media (min-width:768px) {
    .bg-md-transparent {
        background-color: transparent !important;
    }
}




.topbar {
    height: 56px;
}



.text-display-lg {
    font-size: 57px;
    line-height: 64px;
    letter-spacing: -0.25px;
    font-family: Roboto;
}

.text-display-md {
    font-size: 45px;
    line-height: 52px;
    font-family: Roboto;
}

.text-display-sm {
    font-size: 36px;
    line-height: 44px;
    font-family: Roboto;
}

@media (min-width:768px) {
    .text-md-display-sm {
        font-size: 36px !important;
        line-height: 44px !important;
        font-family: Roboto !important;
    }
    .text-md-display-lg {
        font-size: 57px !important;
        line-height: 64px !important;
        letter-spacing: -0.25px !important;
        font-family: Roboto !important;
    }
}


.text-headline-lg {
    font-size: 32px;
    line-height: 40px;
    font-family: Roboto;
}

.text-headline-md {
    font-size: 28px;
    line-height: 36px;
    font-family: Roboto;
}

.text-headline-sm {
    font-size: 24px;
    line-height: 32px;
    font-family: Roboto;
}




.text-body-lg {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-family: Roboto;
}

.text-body-md {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    font-family: Roboto;
}

.text-body-sm {
    font-size: 12px;
    line-height: 16px;
    font-family: Roboto;
}





.text-title-lg {
    font-size: 22px;
    line-height: 28px;
    font-family: Roboto;
}

.text-title-md {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    font-weight: 500;
    font-family: Roboto;
}

.text-title-sm {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    font-weight: 500;
    font-family: Roboto;
}




.text-label-lg-pr {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    font-weight: 700;
    font-family: Roboto;
}

.text-label-lg {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    font-weight: 500;
    font-family: Roboto;
}

.text-label-mg-pr {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    font-weight: 700;
    font-family: Roboto;
}

.text-label-md {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-family: Roboto;
}

.text-label-sm {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-family: Roboto;
}
.main {
    margin-top: 56px; /* height of header */
}

@media (min-width:768px) {
    .main {
        margin-top: 56px; /* height of header */
        margin-left: 80px; /* width of sidebar*/
    }
    .sidebar {
        display: block;
        width: 80px;
        height: 100vh;
        position: fixed;
    }
}

.mobile-sidebar-style {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 2000;
}

    .mobile-sidebar-style.open {
        width: 75%;
    }

@media (min-width: 768px) {
    .mobile-sidebar-style {
        display: none;
    }
}
@media (min-width: 576px) {
    .mobile-sidebar-style.open {
        width: 60%;
    }
}


.icon-container svg path {
    fill: currentColor;
}

.icon-size svg {
    width: 24px;
    height: 24px;
}

/* Исходные стили для btn-custom */
.btn-custom {
    padding: 10px 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 100px;
    border-width: 0px;
    background-color: var(--bs-primary);
    color: white;
    transition: all 0.3s ease; 
}

    .btn-custom:hover {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    }

    .btn-custom:active {
        background-color: var(--bs-secondary) !important;
        color: var(--bs-primary) !important;
    }

    .btn-custom.bg-secondary:active {
        background-color: var(--bs-primary) !important;
        color: white !important;
    }

    .btn-custom .icon-container svg path,
    .btn-custom .icon-container svg path {
        transition: fill 0.3s ease; 
    }

    .btn-custom:active .icon-container svg path {
        fill: var(--bs-primary) !important;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }

    .btn-custom.bg-secondary:active .icon-container svg path {
        fill: white !important;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }

    .btn-custom .icon-size svg {
        width: 18px;
        height: 18px;
    }

.icon-btn-custom {
    width: 48px;
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0) !important;
    border-width: 0px;
    color: white;
    transition: all 0.3s ease;
}

    .icon-btn-custom .icon-size svg {
        width: 24px;
        height: 24px;
    }

    .icon-btn-custom .rounded-pill.bg-primary {
        background-color: rgba(0,0,0,0) !important;
    }
    .icon-btn-custom .rounded-pill.bg-secondary {
        background-color: --bs-secondary-rgb !important;
    }

    .icon-btn-custom .p-2 {
        transition: all 0.3s ease;
    }

    .icon-btn-custom .p-2.bg-primary {
        background-color: rgba(0,0,0,0) !important;
    }

    .icon-btn-custom .p-2.bg-secondary {
        background-color: rgba(0,0,0,0) !important;
    }


    .icon-btn-custom:hover .p-2{
        background-color: rgba(var(--bs-primary-rgb), 0.08) !important;
    }

    .icon-btn-custom:active .p-2{
        background-color: rgba(var(--bs-primary-rgb), 0.12) !important;
    }





.text-title-sm {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
}

.text-primary-900 {
    color: #354264;
}
.text-neutral-900 {
    color: #646468;
}
.text-neutral {
    color: #EDEFF8;
}


.divider-shadow-primary {
    box-shadow: inset 0 -1px 0 rgba(var(--bs-primary-rgb), 1);
}

.divider-shadow-neutral600 {
    box-shadow: inset 0 -1px 0 rgba(216, 217, 226, 1);
}

.divider-shadow-neutral900 {
    box-shadow: inset 0 -1px 0 rgba(100, 100, 104, 1);
}



.border-neutral600 {
    border-color: rgba(216, 217, 226, 1) !important
}

.border-neutral900 {
    border-color: rgba(100, 100, 104, 1) !important
}

.my-shadow-1 {
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3),
                0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.my-shadow-2 {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3),
                1px 2px 6px 2px rgba(0, 0, 0, 0.15);
}

.my-shadow-3 {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3),
                0px 4px 8px 3px rgba(0, 0, 0, 0.15);
}

.my-shadow-4 {
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3),
                0px 6px 15px 4px rgba(0, 0, 0, 0.15);
}

.my-shadow-5 {
    box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.3),
                0px 8px 12px 6px rgba(0, 0, 0, 0.15);
}


.cursor-pointer {
    cursor: pointer;
}


.myCheckBox {
    display: none;
}


.checkbox-container {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    position: relative;
}


.checkbox-wrapper {
    position: relative;
    padding: 11px;
    border-radius: 100%;
}


.checkbox-custom {
    width: 18px;
    height: 18px;
    border: 2px solid;
    border-color: var(--bs-primary);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s cubic-bezier(0.3, 0, 0, 1);
}




    .checkbox-custom::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        background-color: var(--bs-primary);
        opacity: 0;
        border-radius: 100%;
        transition: opacity 0.3s cubic-bezier(0.3, 0, 0, 1);
    }

    
    .checkbox-custom:hover::before {
        opacity: 0.08; 
    }


.checkbox-icon {
    width: 12px;
    height: 10px;
    display: none; 
}


input[type="checkbox"]:checked + .checkbox-wrapper .checkbox-custom {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

    
    input[type="checkbox"]:checked + .checkbox-wrapper .checkbox-custom .checkbox-icon {
        display: block; 
    }

.checkbox-label {
    margin-left: 8px;
    font-size: 16px;
    color: #333;
}





.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 32px;
    background-color: var(--bs-secondary);
    border-radius: 100px;
    transition: all 0.3s cubic-bezier(0.3, 0, 0, 1);
    box-shadow: inset 0 0 0 2px var(--bs-primary);
}

    .switch.active {
        background-color: var(--bs-primary);
    }
        .switch.active .switch-handle-shape {
            background-color: white;
        }

        .switch.active:hover .switch-handle-shape {
            background-color: #F3F9FE /* secondary-100 */
        }

.switch-target {
    position: absolute;
    width: 48px;
    height: 48px;
    top: -8px;
    left: -8px;
    padding: 4px;
    transition: all 0.3s cubic-bezier(0.3, 0, 0, 1);
}

    .switch-target.active-position {
        left: 12px;
    }

    .switch-target:active .switch-state-layer {
        padding: 6px;
    }

.switch-target input{
    display:none;
}

.switch-state-layer {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    padding: 8px;
    background-color: rgba(var(--bs-primary-rgb), 0.00);
    transition: all 0.3s cubic-bezier(0.3, 0, 0, 1);
}

.switch:hover .switch-state-layer {
    background-color: rgba(var(--bs-primary-rgb), 0.08);
}


.switch-handle-shape {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: rgba(var(--bs-primary-rgb), 1);
    transition: all 0.3s cubic-bezier(0.3, 0, 0, 1);
}

    .switch-handle-shape svg {
        width: 16px;
        height: 16px;
    }


.list-item {
    min-height: 56px;
    align-content: center;
}

.list-item-state-layer {
    transition: all 0.3s cubic-bezier(0.3, 0, 0, 1);
}

.list-item-state-building-block:hover .list-item-state-layer {
    background-color: rgba(var(--bs-primary-rgb), 0.08);
}

.list-item-supportive-text.two-line {
    display: -webkit-box; /* Создаем многострочный контейнер */
    -webkit-line-clamp: 1; /* Ограничиваем до 1 строк */
    -webkit-box-orient: vertical; /* Ожидаем вертикальное направление */
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}



.line-edit-input {
    outline: none;
    border: none;
    box-shadow: none;
    color: inherit;
    font: inherit;
    background-color: transparent;
    caret-color: #646468;
}

    .line-edit-input:focus {
        outline: none;
    }

.line-edit-state-layer {
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
}

.line-edit-text-field:hover .line-edit-state-layer {
    background-color: rgba(var(--bs-primary-rgb), 0.08);
}

.line-edit-overline-text {
    color: #646468;
    transition: color 0.3s cubic-bezier(0.3, 0, 0, 1);
}

.active-indicator {
    border-bottom: solid;
    border-color: rgba(100, 100, 104, 1);
    border-width: 1px;
    right: 0;
    bottom: 0;
    transition: border-color 0.3s cubic-bezier(0.3, 0, 0, 1),
                border-width 0.3s cubic-bezier(0.3, 0, 0, 1);
}

.line-edit:focus-within .line-edit-state-layer {
    background-color: transparent;
}
.line-edit:focus-within .line-edit-input {
    caret-color: var(--bs-primary);
}
.line-edit:focus-within .line-edit-overline-text {
    color: var(--bs-primary);
}

.line-edit:focus-within .active-indicator {
    border-color: var(--bs-primary) !important;
    border-width: 3px !important;
}

.line-edit:focus-within .line-edit-trailing-element .icon-container {
    color: var(--bs-primary);
    transition: color 0.3s cubic-bezier(0.3, 0, 0, 1);
}




.line-edit.error .line-edit-state-layer {
    background-color: transparent;
}

.line-edit.error .line-edit-input {
    caret-color: #bd33a4;
}

.line-edit.error .line-edit-overline-text {
    color: #bd33a4;
    transition: color 0.3s cubic-bezier(0.3, 0, 0, 1);
}

.line-edit.error .active-indicator {
    border-color: #bd33a4 !important;
    border-width: 3px !important;
}

.line-edit.error .line-edit-trailng-supportive-text {
    color: #bd33a4 !important;
    transition: color 0.3s cubic-bezier(0.3, 0, 0, 1);
}

.line-edit.error .line-edit-supportive-text {
    color: #bd33a4 !important;
    transition: color 0.3s cubic-bezier(0.3, 0, 0, 1);
}


.line-edit.error .line-edit-trailing-element .icon-container {
    color: #bd33a4 !important;
    transition: color 0.3s cubic-bezier(0.3, 0, 0, 1);
}

.line-edit-only-placeholder {
    height: 40px;
}


.fab {
    padding: 0;
    border: 0;
    overflow: hidden;
}

    .fab:hover {
        box-shadow: 1px 4px 4px 0px rgba(0,0,0, 0.15), 0px 8px 12px 6px rgba(var(--bs-primary-rgb), 0.3) !important;
    }

.ripple-effect-secondary {
    position: relative;
    overflow: hidden; /* Эффект остаётся внутри элемента */
    outline: none;
}

    .ripple-effect-secondary::after {
        content: "";
        position: absolute;
        top: var(--ripple-y, 50%);
        left: var(--ripple-x, 50%);
        width: 0;
        height: 0;
        background-color: rgba(var(--bs-secondary-rgb), 0.12);
        border-radius: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        pointer-events: none;
        transition: width 0.3s cubic-bezier(0.3, 0, 0, 1), height 0.3s cubic-bezier(0.3, 0, 0, 1), opacity 0.3s ease-in-out;
    }

    .ripple-effect-secondary.active::after {
        opacity: 1; 
        width: 125%;
        height: 125%;
    }

    .ripple-effect-secondary.fade-out::after {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

.ripple-effect-primary {
    position: relative;
    overflow: hidden;
    outline: none;
}

    .ripple-effect-primary::after {
        content: "";
        position: absolute;
        top: var(--ripple-y, 50%);
        left: var(--ripple-x, 50%);
        width: 0;
        height: 0;
        background-color: rgba(var(--bs-primary-rgb), 0.12);
        border-radius: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        pointer-events: none;
        transition: width 0.3s cubic-bezier(0.3, 0, 0, 1), height 0.3s cubic-bezier(0.3, 0, 0, 1), opacity 0.3s ease-in-out;
    }

    .ripple-effect-primary.active::after {
        opacity: 1;
        width: 125%;
        height: 125%;
    }

    .ripple-effect-primary.fade-out::after {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

.cardDetails {
    transition: max-height 0.3s cubic-bezier(0.3, 0, 0, 1);
}

.edit-car-details {
    transition: max-height 0.3s cubic-bezier(0.3, 0, 0, 1);
}

.order-details {
    transition: max-height 0.3s cubic-bezier(0.3, 0, 0, 1);
}

.main-recommend{
    flex-wrap: nowrap !important;
    overflow: scroll;
}

@media (min-width:992px) {
    .main-recommend {
        flex-wrap: wrap !important;
        overflow: visible;
    }
}

.main-wdrodze {
    flex-wrap: nowrap !important;
    overflow: scroll;
}

@media (min-width:992px) {
    .main-wdrodze {
        flex-wrap: wrap !important;
        overflow: visible;
    }
}
#img-drag-drop {
    border: 2px dashed var(--bs-primary);
}

#img-drag-drop img {
    width: 100px;
}

.image-upload-galley {
    flex-wrap: nowrap !important;
    overflow: scroll;
    overflow-y: auto
}
.customOrderForm {
    max-height: 320px;
    overflow-y: auto;
    margin-left: -8px;
    margin-right: -8px;
}

@media (min-width:768px) {
    .customOrderForm {
        max-height: none;
    }
}

