@using EuroCarsUSA.Controllers
@using EuroCarsUSA.Views.Home.Components.ViewModels
@using Microsoft.Extensions.Localization
@using EuroCarsUSA.Views.Shared.Components
@model IEnumerable<FilterOptionViewModel>

@inject IStringLocalizer<HomeController> Translator


<div class="mobile-filter-select-screen d-flex flex-column vh-100" style="z-index: 2000;">
    <div class="px-4 border-bottom border-primary bg-white">
        <div class="topbar position-relative align-content-center">
            <div class="text-headline-sm d-flex justify-content-center ">Select Filter</div>
            <a class="position-absolute end-0 top-0 h-100 align-content-center" id="filter-mobile-select-close-button">
                @await Html.PartialAsync("_IconButton", new { IconName = "Clear", Color = "primary", IconColor = "black", Attributes = "" })
            </a>
        </div>
    </div>
    <div class="container px-0 py-2 h-100 px-3">
        <div class="mobile-list-items mb-auto bg-white rounded-16 overflow-hidden">
            @foreach (var option in Model)
            {
                @await Html.PartialAsync("_ListItem", new _ListItem
                {
                    Classes = "",
                    Attributes = "",
                    Leading = await Html.PartialAsync("_Checkbox", new _Checkbox
                    {
                        Classes = "",
                        Attributes = $"value=\"{@option.OriginalValue}\" id=\"{@option.OriginalValue}\"",
                    }),
                    Trailing = (object)null,
                    Headline = option.TranslatedValue,
                    ShowDivider = true,
                    Clickable = true
                })
            }
        </div>
    </div>
    <div class="container">
        <div class="row gx-3 bg-white rounded-16 rounded-bottom-0 topbar align-content-center">
            <a id="filter-mobile-select-clear-button" class="col-6 ">
                @await Html.PartialAsync("_Button", new _Button
           {
               Text = Translator["Clear"],
               Color = "secondary",
               Classes = "w-100",
               Attributes = "",
               LeftIcon = await Html.PartialAsync("_Icon", new { IconName = Url.Content("Clear"), Color = "primary" }),
               RightIcon = null,
               TextColor = "text-primary"
           })
            </a>
            <a id="mobile-filter-select-save-button" class="col-6">
                @await Html.PartialAsync("_Button", new _Button
           {
               Text = Translator["Save"],
               Color = "primary",
               Classes = "w-100",
               Attributes = $"type=\"submit\"",
               LeftIcon = await Html.PartialAsync("_Icon", new { IconName = Url.Content("Search"), Color = "white" }),
               RightIcon = null,
               TextColor = ""
           })
            </a>
        </div>
    </div>
</div>
