@using EuroCarsUSA.ViewModels
@using EuroCarsUSA.Controllers
@using EuroCarsUSA.Data.Enums
@using EuroCarsUSA.Extensions
@using EuroCarsUSA.Models
@using Microsoft.Extensions.Localization
@model List<CarCardViewModel>
@inject IStringLocalizer<HomeController> Translator

    
<div data-show-more-button="@ViewBag.ShowMoreButton" data-cars-in-view="@Model.Count()">
    <div class="row mx-0">
        @foreach (CarCardViewModel car in Model)
        {
            car.Classes = "col-xl-4 col-lg-6 col-md-12 col-6 p-2";
            car.IsFullSize = true;
            @await Html.PartialAsync("_CarCard", car)
        }
    </div>
</div>