@model IEnumerable<Car>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="album py-5 bg-light">
    <div class="container">
        @foreach (Car car in Model)
        {
            <div class="row">
                <div class="card mb-4 box-shadow">
                    <div class="row">
                        <div class="col-md-3">
                            <!-- Adjust the column size as needed -->
                            <a asp-controller="Home" , asp-action="Detail" , asp-route-id=@car.Id> <img class="card-img-top rounded float-left w-100" src=@car.Images[0] alt=@(car.Color + car.Make + car.Model)> </a>
                        </div>
                        <div class="col-md-9">
                            <!-- Adjust the column size as needed -->
                            <div class="row">
                                <a asp-controller="Home", asp-action="Detail", asp-route-id=@car.Id> <h2>@(car.Make + " " + car.Model)</h2> </a>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="row">
                                        <b>Mileage</b>
                                    </div>
                                    <div class="row">
                                        <p>@car.Mileage</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <b>Year</b>
                                    </div>
                                    <div class="row">
                                        <p>@car.Year</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <b>Fuel type</b>
                                    </div>
                                    <div class="row">
                                        <p>@car.CarFuelType</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-end align-items-end">
                            <button type="button" class="btn btn-outline-secondary">Like</button>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>
