@using EuroCarsUSA.ViewModels
@using EuroCarsUSA.Controllers
@using EuroCarsUSA.Data.Enums
@using EuroCarsUSA.Extensions
@using EuroCarsUSA.Models
@using Microsoft.Extensions.Localization
@model List<CarCardViewModel>

@inject IStringLocalizer<HomeController> Translator

<h1 class="fh-header text-center mb-3">@Translator["LikesHeader"]</h1>

<div data-show-more-button="@ViewBag.ShowMoreButton" data-cars-in-view="@Model.Count()">
    <div class="row mx-0 p-3">
        @foreach (CarCardViewModel car in Model)
        {
            car.IsFullSize = true;
            car.Classes = "col-xl-3 col-lg-4 col-sm-6 col-12 p-2";
            @await Html.PartialAsync("_CarCard", car)
        }
    </div>
</div>
